//////////////////////////////
/// BACKGROUND
//////////////////////////////

$colorLightBg: #FFF;
$colorDarkBg: #161616;


//////////////////////////////
/// TYPOGRAPHY
//////////////////////////////

$colorText: #292827;
$colorTextLight: #FFF;
$colorTextGrey: #999;


//////////////////////////////
/// FEEDBACK
//////////////////////////////

$colorSuccess: #5BB318;
$colorSuccessBg: #E6FFE6;

$colorWarning: #FF8C00;
$colorWarningBg: #FFF2E6;

$colorError: #FF0011;
$colorErrorBg: #FFE6E6;

$colorSpinnerBg: #f3f3f3;


//////////////////////////////
/// BUTTON
//////////////////////////////

$colorBtnLight: #F5F5F5;
$colorBtnHoverLight: #DBDBDB;
$colorBtnHoverDark: #272626;
$colorBtnCta: #395B64;
$colorBtnCtaHover: #A5C9CA;
$colorBtnCaution: #A50A14;
$colorBtnCautionBg: #700A10;
$colorBtnCancel: #7E7E7E;
$colorBtnCancelBg: #666565;